body {
  background-image: url("https://images.unsplash.com/photo-1559818454-1b46997bfe30?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2134&q=80");
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
.header{
  width: 100vw;
  height: 12vh;
  display: flex;
  margin-bottom: 50px;

}
.main_style{
  background-color: rgba(155, 143, 97, 0.9);
  box-shadow:0px 2px black;
}
a:link, a:visited {
color: black;
}
a:hover {
  color: darkgray;
}
#title_area {
  width: 80%;
  height: 100%;
}

#nav_area {
  width: 20%;
  height: 100%;
}
.navItem {
  margin-top: 5px;
  padding: 3px 3px 3px 3px;
  font-family: "Pacifico", cursive;
  font-size: larger;
  
}
.navItem :link, :visited {
  color: black;
  text-decoration: none;
}
.navItem :hover {
  background-color: #ecd68c;
  border-radius: 3px;
  text-decoration: none;
}

#title, h1 {
  font-family: "Pacifico", cursive;
}
h2 {
  font-family: "Pacifico", cursive;
  color: black;
  border-style: solid;
  background-color: rgba(184, 134, 11, 0.9);
}
#main_container {
  margin: auto;
  width: 90%;
  display: flex;
  justify-content: space-between;
  border-radius: 5px;
}
#index_main_container {
  width: 50%;
  height: 50vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    ". . ."
    ". . ."
    ". . .";
}
.Search {
  grid-area: 2 / 1 / 3 / 5;
  color: aquamarine;
  justify-content: center;
  text-align: center;
}
.title_text {
  margin: auto;
  text-align: center;
  line-height: 10vh;
}
#tour_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
}
#index_tour_container {
  width: 50%;
  height: 50vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    ". . ."
    ". . ."
    ". . .";
}
.saved_tour_outer {
  margin: auto;
  margin-top: 10px;
  margin-bottom: 15px;
  padding: 5px 5px 1rem 5px;
  width: 70%;
  height: auto;
  
  border-radius: 5px;
  background-color: #ecd68c;
  overflow: hidden;
}

.tour_inner {
  width: 100%;
}
.tour_name {
  height: 20%;
  
}
.tour_body {
  height: auto;
}
.tour_buttons {
  height: auto;
  text-align: end;
  padding-bottom: 25px;
}
#delete_btn {
  color: white;
}
.tour_group_item {
  background-color: #ecd68c;
}
.tour_group_item a:link, a:visited {
  color: black;
}
.tour_group_item a:hover{
  color: darkgray;
}
.myCard {
  margin: 10px;
}

#card_container {
  width: 18rem;
  height: 100vh;
  position: relative;
}
.card_body {
  height: 50vh;
  width: 18rem;
  border: 2px solid brown;
  border: auto;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 0fr 0fr 0fr;
  grid-template-rows: 0fr 0fr 0.5fr;
  gap: 0px 0px;
  grid-template-areas:
    ". . . ."
    ". . . ."
    ". . . .";
}

@media screen and (max-width: 600px) {
  .header {
    height: 17vh;
  }
}
  
