body {
  background-image: url("https://images.unsplash.com/photo-1559818454-1b46997bfe30?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2134&q=80");
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
.header{
  width: 100vw;
  height: 12vh;
  display: flex;
  margin-bottom: 50px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  
}
.main_style{
  background-color: rgba(184, 134, 11, .9);
  box-shadow:0px 2px black;
}
a:link, a:visited {
color: black;
}
a:hover {
  color: darkgray;
}
#title_area {
  width: 80%;
  height: 100%;
}

#nav_area {
  width: 20%;
  height: 100%;
}
.navItem {
  margin-top: 5px;
  padding: 3px 3px 3px 3px;
  font-family: "Pacifico", cursive;
  font-size: larger;
  
}
.navItem :link, :visited {
  color: black;
  text-decoration: none;
}
.navItem :hover {
  background-color: darkkhaki;
  border-radius: 3px;
  text-decoration: none;
}

#title, h1 {
  font-family: "Pacifico", cursive;
}

#main_container {
  margin: auto;
  width: 90%;
  display: flex;
  justify-content: space-between;
  border-radius: 5px;
}

.title_text {
  margin: auto;
  text-align: center;
  line-height: 10vh;
}
#tour_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
}



.saved_tour_outer {
  margin: auto;
  margin-top: 10px;
  margin-bottom: 15px;
  padding: 5px 5px 10px 5px;
  width: 70%;
  height: auto;
  
  border-radius: 5px;
  background-color: #ecd68c;
  overflow: hidden;
}

.tour_inner {
  width: 100%;
}
.tour_name {
  height: 20%;
  
}
.tour_body {
  height: auto;
}
.tour_buttons {
  height: auto;
  text-align: end;
  padding-bottom: 25px;
}
#delete_btn {
  color: white;
}
.tour_group_item {
  background-color: #ecd68c;
}
.tour_group_item a:link, a:visited {
  color: black;
}
.tour_group_item a:hover{
  color: darkgray;
}


#card_cotainer {
  width: 18rem;
  height: 100vh;
  position: relative;
}
.card-body {
  height: 50vh;
  width: 18rem;
  border: 2px solid brown;
  border: auto;
}

#btn_delete {
  background-color: red;
}
.grid-container {
  display: grid;
  grid-template-columns: 1fr 0fr 0fr 0fr;
  grid-template-rows: 0fr 0fr 0.5fr;
  gap: 0px 0px;
  grid-template-areas:
    ". . . ."
    ". . . ."
    ". . . .";
}
