body {
  background-image: url("https://images.unsplash.com/photo-1559818454-1b46997bfe30?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2134&q=80");
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

#main_container {
  margin: auto;
  width: 90%;
  display: flex;
  justify-content: space-between;
  background-color: darkgoldenrod;
}

#tour_container {
  border: 1px solid rgb(155, 139, 2);
  width: 100%;
  
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  border: 1px solid black;
}

.saved_tour_outer {
  margin: auto;
  margin-top: 10px;
  margin-bottom: 15px;
  padding: 5px 5px 10px 5px;
  width: 70%;
  height: auto;
  border: 1px solid black;
  border-radius: 5px;
  background-color: rgb(206, 203, 162);
  overflow: hidden;
}
.tour_name {
  height: 20%;
  width: 100%;
}
.tour_body {
  height: auto;
  width: 100%;
}
.tour_buttons {
  height: auto;
  width: 100%;
  text-align: end;
  padding-bottom: 25px;
}
#delete_btn {
  color: white;
}
.tour_group_item {
  background-color: rgb(206, 203, 162);
}
.tour_group_item a:link, a:visited {
  color: black;
}
.tour_group_item a:hover{
  color: darkgray;
}

#title {
  font-family: "Pacifico", cursive;
}
#editTour_body {
  background-image: url("https://images.unsplash.com/photo-1559818454-1b46997bfe30?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2134&q=80");
  background-position: center;
}
#card_cotainer {
  width: 18rem;
  height: 100vh;
  position: relative;
}
.card-body {
  height: 50vh;
  width: 18rem;
  border: 2px solid brown;
  border: auto;
}

#btn_delete {
  background-color: red;
}
.grid-container {
  display: grid;
  grid-template-columns: 1fr 0fr 0fr 0fr;
  grid-template-rows: 0fr 0fr 0.5fr;
  gap: 0px 0px;
  grid-template-areas:
    ". . . ."
    ". . . ."
    ". . . .";
}
